
<ion-view view-title="Spielplatzdetail" >
  <ion-content >
    <ion-list>  
        <ion-item ng-repeat="playlistdetail in playlistdetails" style="padding: 0px">
        <img class="materialboxed" src="img/{{playlistdetail.bild}}" style=" width: 100%; left: 0px;
top: 0px;">
        </ion-item>
        <ion-item ng-repeat="playlistdetail in playlistdetails">
            <ion-item style="width: 50%; float: left; border: none; padding: 0px;font-size:12px;">
                    <h2>{{playlistdetail.title}} </h2>

                    {{playlistdetail.strasse}} {{playlistdetail.hausnr}} </br>
                    {{playlistdetail.plz}} {{playlistdetail.stadtteil}}</br>
                    {{playlistdetail.groesse}} m² Fläche
                    <p id="spid" style="height: 2px">{{playlistdetail.url}}</p>       
            </ion-item>
            <ion-item style="width: 50%; float: right; border: none; padding: 0px;font-size:12px;">
                    
                    <a href="#/app/share" style="float:right; padding-right: 20px; color: #C94566"><i class="material-icons" style="padding-top: 15px; float:right">speaker_phone</i><br> Teilen Sie </br>Ihren Standort</a>
            </ion-item>
        </ion-item>
        <ion-item ng-repeat="playlistdetail in playlistdetails" style="background-color: #eeeeee">
            <ion-item style="width: 45%; float: left; border: none; padding: 0px; background-color: #eeeeee">
            <i class="material-icons" style="font-size:18px; float: left">cake</i><p style="font-size:12px; float:left; padding-left: 10px"> {{playlistdetail.alter}}</p>
            </ion-item>
            <ion-item style="width: 55%; float: left; border: none; padding: 0px; background-color: #eeeeee">
            <i class="material-icons" style="font-size:18px; float: left">event_seat</i><p style="font-size:12px; float:left; padding-left: 10px"> {{playlistdetail.bank}}</p>
            </ion-item>
        </ion-item>
        <ion-item>
            <ion-item ng-repeat="arraysum in arraysums" style="width: 45%; float: left; border: none; padding: 0px">
              <p style=" margin-left: auto; margin-right: auto"><b>Gesamtbewertung</b></p>
              <span class="stars" style="font-size: 18px; padding-bottom: 20px">{{arraysum.avg}}</span>
              <p style="font-size: 12px">Sauberkeit: Ø {{arraysum.avgsau}}</p>
              <p style="font-size: 12px">Sicherheit: Ø {{arraysum.avgsich}}</p>
              <p style="font-size: 12px">Spielspaß: Ø {{arraysum.avgspa}}</p>
              <p id="">{{arraysum.avg2}}</p> 
              

            </ion-item>

            <ion-item ng-repeat="playlistdetail in playlistdetails" style="width: 55%; float: right; border: none; padding: 0px">
                <div  class="col s3" style="padding-bottom: 20px; padding-top: 20px">
                        <img  src="img/{{playlistdetail.feuer}}" alt="" style="width:20%; float: left; ">
                        <p style=" float: left; padding-left: 10px; padding-top: 5px">Grillstelle</p> </br>
                </div>
                <div  class="col s3">
                        <img  src="img/{{playlistdetail.sanitar}}" alt="" style="width:20%; float: left">
                        <p style=" float: left; padding-left: 10px; padding-top: 5px">Sanitäranlagen</p> 
                </div>
 
 
                
            </ion-item>
        </ion-item>




        <ion-item ng-controller="MapCtrl" id="map" data-tap-disabled="true" ng-style="{'height': '250px'}">
            <div style="height:100%"></div>
        </ion-item>
      <ion-item ng-repeat="playlistdetail in playlistdetails" >
            <div class="row" style="text-align: center">
                <div  class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.rutsche}}" alt="">
                        <p >Rutsche</p> 
                </div>
                <div  class="col s3">
                        <img  class="responsive-img"  src="img/{{playlistdetail.kletterturm}}" alt="">
                        <p>Kletterturm</p> 
                </div>
                <div class="col s3">
                        <img  class="responsive-img"  src="img/{{playlistdetail.wippe}}" alt="">
                        <p>Wippe</p> 
                </div>
                <div  class="col s3">
                        <img  class="responsive-img"  src="img/{{playlistdetail.tischtennis}}" alt="">
                        <p>Tischtennis</p> 
                </div>
            </div>
            <div class="row" style="text-align: center">
                <div class="col s3">
                        <img class="responsive-img"  src="img/{{playlistdetail.schaukel}}" alt="">
                        <p>Schaukel</p> 
                </div>
                <div  class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.ballspielfeld}}" alt="">
                        <p>Ballspielfeld</p> 
                </div>
                <div class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.sandkasten}}" alt="">
                        <p>Sandkasten</p> 
                </div>
                <div  class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.wasserspiele}}" alt="">
                        <p>Wasserspiele</p> 
                </div>
            </div>
            <div class="row" style="text-align: center">
                <div class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.klettergerust}}" alt="">
                        <p>Klettergerüst</p> 
                </div>
                <div class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.seilbahn}}" alt="">
                        <p>Seilbahn</p> 
                </div>
                <div class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.spielobjekt}}" alt="">
                        <p>Spielobjekt</p> 
                </div>
                <div  class="col s3">
                        <img class="responsive-img" src="img/{{playlistdetail.sonstiges}}" alt="">
                        <p>Sonstiges</p> 
                </div>
            </div>
       </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><i class="material-icons">grade</i>Neue Bewertung</div>
              <div class="collapsible-body">
                  <form id="sauberkeit" style="margin:15px 15px 5px 25px;"> 
                        <p style="font-size: 90%; float: left; padding: 5px 0px 0px 0px;">Sauberkeit</p>
                        <span class="star-cb-group" style="">
                          <input type="radio" id="rating-5" name="rating-sauber" value="5"  /><label for="rating-5">5</label>
                          <input type="radio" id="rating-4" name="rating-sauber" value="4" /><label for="rating-4">4</label>
                          <input type="radio" id="rating-3" name="rating-sauber" value="3" /><label for="rating-3">3</label>
                          <input type="radio" id="rating-2" name="rating-sauber" value="2" /><label for="rating-2">2</label>
                          <input type="radio" id="rating-1" name="rating-sauber" value="1" /><label for="rating-1">1</label>
                        </span>     
                  </form>
                  <form id="spielspass" style="margin:0px 15px 5px 25px;">
                  <p style="font-size: 90%; float: left; padding: 5px 5px 0px 0px;">Spielspaß</p> 
                        <span class="star-cb-group-spass">
                          <input type="radio" id="rating-spass-5" name="rating-spass" value="5"  /><label for="rating-spass-5">5</label>
                          <input type="radio" id="rating-spass-4" name="rating-spass" value="4" /><label for="rating-spass-4">4</label>
                          <input type="radio" id="rating-spass-3" name="rating-spass" value="3" /><label for="rating-spass-3">3</label>
                          <input type="radio" id="rating-spass-2" name="rating-spass" value="2" /><label for="rating-spass-2">2</label>
                          <input type="radio" id="rating-spass-1" name="rating-spass" value="1" /><label for="rating-spass-1">1</label>
                        </span>  
                  </form>
                  <form id="sicherheit" style="margin:0px 15px 5px 25px;">
                  <p style="font-size: 90%; float: left; padding: 5px 5px 0px 0px;">Sicherheit</p> 
                        <span class="star-cb-group-sicherheit">
                          <input type="radio" id="rating-sicherheit-5" name="rating-sicherheit" value="5"  /><label for="rating-sicherheit-5">5</label>
                          <input type="radio" id="rating-sicherheit-4" name="rating-sicherheit" value="4" /><label for="rating-sicherheit-4">4</label>
                          <input type="radio" id="rating-sicherheit-3" name="rating-sicherheit" value="3" /><label for="rating-sicherheit-3">3</label>
                          <input type="radio" id="rating-sicherheit-2" name="rating-sicherheit" value="2" /><label for="rating-sicherheit-2">2</label>
                          <input type="radio" id="rating-sicherheit-1" name="rating-sicherheit" value="1" /><label for="rating-sicherheit-1">1</label>
                        </span>            
                  </form>
                  <form>
                        <div class="input-field col s6" style="margin-top: 0px; padding: 0px 25px 0px 25px">
                          <input id="nickname" type="text" class="validate">
                          <label style="padding: 0px 25px 0px 15px">nickname</label>
                        </div>
                        <div class="input-field col s6" style="margin-top: 0px; padding: 0px 25px 0px 25px">
                          <input id="kommentar" type="text" class="validate">
                          <label style="padding: 0px 25px 0px 15px">Titel Kommentar</label>
                        </div>
                        <div >
                              <div class="input-field col s6" style="margin-top: 0px; padding: 0px 25px 0px 25px">
                                <textarea id="freitext" class="materialize-textarea" length="1000"></textarea>
                                <label for="freitext"  style="padding: 0px 25px 0px 15px">Ihre Nachricht</label>
                              </div>
                        </div>
                  </form>
                <label class="item" >
                        <button class="waves-effect waves-light btn" type="submit" onclick="bewertungdb()" style="display: block; margin-left: auto; margin-right: auto">Bewertung abgeben</button>
                </label>
                </div>
            </li>

            <li>
                <div class="collapsible-header active"><i class="material-icons">view_list</i>Alle Bewertungen</div>
                  <div class="collapsible-body">
                    <ion-item ng-repeat="playlistdetail in ratings">
                      <a href="#/app/playlists/{{playlistdetail.bid}}/{{playlistdetail.id}}">
                            <h2>{{playlistdetail.kommentar}} </h2>
                            <h4 style="color: grey; ">{{playlistdetail.title}} </h4>
                            <span class="stars">{{playlistdetail.bewertung}}</span>
                      </a>                      
                    </ion-item>
                  </div>
            </li>
      </ul>  
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


