<ion-view view-title="Kontakt">
            <ion-content scroll="true">
                      
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">account_circle</i>
                              <input id="kontakt_vorname" type="text" class="validate">
                              <label for="kontakt_vorname">Vorname</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">account_circle</i>
                              <input id="kontakt_nachname" type="text" class="validate">
                              <label for="kontakt_nachname">Nachname</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">phone</i>
                              <input id="kontakt_tel" type="tel" class="validate">
                              <label for="kontakt_tel">Telefonnummer</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">email</i>
                              <input id="email" type="email" class="validate">
          <label for="email" data-error="Bitte geben Sie Ihre Email-Adresse an" data-success="s">Email</label>
                            </div>
                        </div>
                  
                            <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">mode_edit</i>
                              <textarea id="kontaktmessage" class="materialize-textarea" length="1000"></textarea>
                              <label for="kontaktmessage">Ihre Nachricht</label>
                            </div>
                          </div>
                        
                        
                        <div class="row">
                        <div class="input-field col s6" style="margin-bottom: 100px">
                          
                            <button class="waves-effect waves-light btn orange accent-3" type="submit" onclick="()">Nachricht absenden</button>
                        
                        </div>
                      </div>
                    </form>
            
            </ion-content>
</ion-view>
