<ion-view view-title="Kontakt">
            <ion-content scroll="false">
                  <ion-list>
                        <ion-item >
                                <p id="Headline"></p>
                        </ion-item>
                  </ion-list>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input id="spielplatzname" type="text">
                  </label>
                  <label class="item">
                    <button class="waves-effect waves-light btn" type="submit" onclick="kontaktform()">Nachricht absenden</button>
                  </label>
                    <p id="demo"></p>
                </div>
            </ion-content>
</ion-view>
