<ion-view view-title="Login">
      <ion-content>
        <ion-item>
          <form ng-submit="doLogin()">
                <ion-list>
                    <ion-item >
                        <p id="Headline"></p>
                    </ion-item>
                </ion-list>
            <div class="list">
                <label class="item item-input">
                 <span class="input-label">Username</span>
                  <input type="text" name="username" id="username">
                </label>
                <label class="item item-input">
                  <span class="input-label">Password</span>
                  <input type="password" name="password" id="password">
                </label>
                <label class="item">
                  <button class="button button-block button-positive" type="submit" onclick="login()" >Log in</button>
                </label>          
            </div>
          </form> 
        </ion-item>
      </ion-content>
</ion-view>
