<ion-view view-title="Alle Spielplätze anzeigen" >
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="img/ionic.png" style="border:5px solid {{playlist.color}}" alt="" class="circle">
      <span class="title">{{playlist.title}}</span>
      <p>{{playlist.ort}} <br>
         
      </p>
    </li>
          </ul>    
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


