<ion-view view-title="Neuen Spielplatz anlegen">
            <ion-content >
                <ion-list>            
                  <ion-item class="input-field col s6">
                      <div>                     
                      
                      
                    <form class="col s12">
                        <h2>Location</h2> 
                           
               
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="spielplatzname" type="text" class="validate">
                          <label >Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="spielplatzstraße" type="text" class="validate">
                          <label >Straße</label>
                        </div>
                        </div>
                          
                        <div class="row">  
                        <div class="input-field col s6">
                          <input id="hausnummer" type="number" class="validate">
                          <label >Hausnummer</label>
                        </div>
                      
                        <div class="input-field col s6">
                          <input id="plz" type="number" class="validate" length="5">
                          <label >Postleitzahl</label>
                        </div>
                        </div>
                                
                      <div class="row">
                        <div class="input-field col s6">
                            <select id="stadtteil">
                              <option  value="1">Gailbach</option>
                              <option  value="2">Nilkheim</option>
                              <option  value="3">Obernau</option>
                                <option  value="4">Schweinheim</option>
                              <option  value="5">Strietwald</option>
                            </select>
                            <label>Stadtteil</label>
                        </div>
                        </div>
                      <h2>Struktur</h2> 
                        <div class="row">
                         <div class="input-field col s6">
                            <select id="alter">
                              <option  value="1">Bis 5 Jahre</option>
                              <option  value="2">Bis 10 Jahre</option>
                              <option  value="3">Bis 15 Jahre</option>
                            </select>
                            <label>Altersgruppe</label>
                        </div>
                      </div>
                        <div class="row">
                           <div class="input-field col s6">
                            <select id="sitzgelegenheiten">
                              <option  value="1">Für bis zu 5 Personen</option>
                              <option  value="2">Für bis zu 15 Personen</option>
                              <option  value="3">für mehr als 20 Personen</option>
                            </select>
                            <label>Anzahl Sitzgelegenheiten</label>
                        </div>
                         </div> 
                      <div class="row">
                          <div class="input-field col s6">
                          <input id="groesse" type="number" class="validate">
                          <label >Größe in m2</label>
                        </div>
                        
                        <div class="input-field col s12">
                        <select id=status>
                          <option value="1">Bespielbar</option>
                          <option value="2">Nicht bespielbar</option>
                        </select>
                        <label>Status</label>
                      </div>
                        </div>
                        
                         <h2>Ausstattung</h2> 
                        <div class="row" >
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="sanitar" />
                                <label for="sanitar">Sanitäranlagen</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="grillplatz" />
                                <label for="grillplatz">Grillplatz</label>
                            </div>
                        </div>    
                       
                        <h2>Spielgeräte</h2> 
                        <div class="row" >
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="rutsche" />
                                <label for="rutsche">Rutsche</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="kletterturm" />
                                <label for="kletterturm">Kletterturm</label>
                            </div>
                            
                        </div>
                        
                        <div class="row" >
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="wippe" />
                                <label for="wippe">Wippe</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="ballsport" />
                                <label for="ballsport">Ballsport</label>
                            </div>
                        </div>
                            
                        <div class="row" >
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="tischtennis" />
                                <label for="tischtennis">Tischtennis</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="schaukel" />
                                <label for="schaukel">Schaukel</label>
                            </div>
                        </div>
                        
                          <div class="row" >
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="sandkasten" />
                                <label for="sandkasten">Sandkasten</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="wasserspiele" />
                                <label for="wasserspiele">Wasserspiele</label>
                            </div>
                        </div>
                        <div class="row" >
                        <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="klettergerust" />
                                <label for="klettergerust">Klettergerüst</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="seilbahn" />
                                <label for="seilbahn">Seilbahn</label>
                            </div>
                        </div>
                            <div class="row" >
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="spielobjekt" />
                                <label for="spielobjekt">Spielobjekt</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="checkbox" class="filled-in" id="sonstiges" />
                                <label for="sonstiges">Sonstiges</label>
                            </div>
                        </div>
                        <h2>Bild</h2> 
                         <div class="row">
                             <div class="file-field input-field col s12">
                                  <div class="btn">
                                        <span>File</span>
                                        <input type="file">
                                  </div>
                                  <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                  </div>
                            </div>
                      </div>
                        <div class="row">
                        <div class="input-field col s6" style="margin-bottom: 100px">
                          <label class="item">
                            <button class="waves-effect waves-light btn" type="submit" onclick="neuerSpielplatz()">Spielplatz anlegen</button>
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6" style="margin-bottom: 100px">
                          <label class="item">
                            <button class="button button-assertive" type="submit" onclick="logout()">Log Out</button>
                          </label>
                        </div>
                      </div>
                        
                    
                      
                    </form>
                  </div>
                  </ion-item>
                </ion-list>
            </ion-content>
</ion-view>

