<ion-view view-title="Spielplatz bewerten">
  <ion-content>
    <h1>Spielplatz bewerten</h1>
         <ion-list>
                        <ion-item >
                                <p id="Headline"></p>
                        </ion-item>
                  </ion-list>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input id="spielplatzname" type="text">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Straße</span>
                    <input id="spielplatzstraße" type="text">
                  </label>
                  <label class="item">
                    <button class="waves-effect waves-light btn" type="submit" onclick="bewerten()">Spielplatz bewerten</button>
                  </label>
                    <p id="demo"></p>
                </div>
  </ion-content>
</ion-view>
