@charset "UTF-8";
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
    font-size: 2em;
  color: orange;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
    font-size: 2em;
  color: orange;

}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
    font-size: 2em;
  color: orange;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
    font-size: 2em;
  color: orange;

}

.star-cb-group-spass {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group-spass * {
  font-size: 1rem;
}
.star-cb-group-spass > input {
  display: none;
}
.star-cb-group-spass > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group-spass > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
    font-size: 2em;
  color: orange;
}
.star-cb-group-spass > input:checked ~ label:before, .star-cb-group-spass > input + label:hover ~ label:before, .star-cb-group-spass > input + label:hover:before {
  content: "★";
    font-size: 2em;
  color: orange;

}
.star-cb-group-spass > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group-spass:hover > input + label:before {
  content: "☆";
    font-size: 2em;
  color: orange;
  text-shadow: none;
}
.star-cb-group-spass:hover > input + label:hover ~ label:before, .star-cb-group-spass:hover > input + label:hover:before {
  content: "★";
    font-size: 2em;
  color: orange;

}

.star-cb-group-sicherheit {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group-sicherheit * {
  font-size: 1rem;
}
.star-cb-group-sicherheit > input {
  display: none;
}
.star-cb-group-sicherheit > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group-sicherheit > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  font-size: 2em;
  color: orange;
}
.star-cb-group-sicherheit > input:checked ~ label:before, .star-cb-group-sicherheit > input + label:hover ~ label:before, .star-cb-group-sicherheit > input + label:hover:before {
  content: "★";
    font-size: 2em;
  color: orange;

}
.star-cb-group-sicherheit > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group-sicherheit:hover > input + label:before {
  content: "☆";
    font-size: 2em;
  color: orange;
  text-shadow: none;
}
.star-cb-group-sicherheit:hover > input + label:hover ~ label:before, .star-cb-group-sicherheit:hover > input + label:hover:before {
  content: "★";
  font-size: 2em;
  color: orange;

}



fieldset {
  width: 5em;
  padding: 1em 1.5em 0.9em;
  margin: 1em auto;
}

#log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent;
}

#spid{
    
color:#FFF;
    font-size:1px}

span.stars, span.stars span {
    display: block;
    background: url(../img/stars4.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.appinfo-text{
    font-size:0.9em;
    text-align:center;
    display:inline-block;
    margin-top:3em;
    color:#424242;
    width:80%;
    
}

#appinfo-logo{
    padding-bottom:4em;
    margin-right:10%;
    margin-left:10%;
    margin-top:5em;
    border-bottom: 0.5px solid #b5afaf;
    
}

#appinfo-h1{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color:#831342;
    font-size:3.5em;
}

#appinfo-rotaract{
    margin-top:4em;
}

#appinfo-rotaract-project{
    color:#424242;
    font-size:1.5em;
    padding-bottom:0.5em;
}

#appinfo-link{
    margin-top:4em;
    border-top: 0.5px solid #b5afaf;
   
    margin-bottom:10em;
    color:#c94566;
    vertical-align: middle; 
}